{% macro handle_spawner_args(keyword, default_args, args) %}

{% if default_args is defined %}

  {% if args[keyword] is not defined or args[keyword] is none %}
    {% set _ = args.update({keyword: default_args}) %}

  {% elif args[keyword] is iterable %}

    {% if args[keyword] is mapping %}
      {% set tmp_args = dict() %}
      {% set _ = tmp_args.update(default_args) %}

      {% for key, value in args[keyword].items() %}
        {% set _ = tmp_args.update({key: value}) %}
      {% endfor %}
      {% set _ = args.update({keyword: tmp_args}) %}

    {% elif args[keyword] is not string and args[keyword] | length != default_args | length %}
      {% set _ = args.update({keyword: default_args}) %}
    {% endif %}

  {% endif %}

{% endif %}

{% endmacro %}
