<?xml version="1.0"?>
<launch>
  <!-- MAVROS posix SITL environment launch script -->
  <arg name="ID"/>
  <arg name="PX4_SIM_MODEL"/>
  <arg name="PX4_ESTIMATOR" default="ekf2"/>
  <arg name="ROMFS_PATH" default="$(find mrs_uav_gazebo_simulation)/ROMFS"/>
  
  <!-- PX4 configs -->
  <arg name="interactive" default="false"/>
  <!-- PX4 SITL -->
  <arg unless="$(arg interactive)" name="px4_interactive_mode" value="-d"/>
  <arg     if="$(arg interactive)" name="px4_interactive_mode" value=""/>

  <!-- UAV namespace -->
  <group ns="uav$(arg ID)">

    <!-- PX4 params -->
    <env name="PX4_SIM_MODEL" value="$(arg PX4_SIM_MODEL)" />
    <env name="PX4_ESTIMATOR" value="$(arg PX4_ESTIMATOR)" />

    <!-- PX4 SITL -->
    <node name="sitl_uav$(arg ID)" pkg="px4" type="px4" output="screen" args="$(arg ROMFS_PATH)/px4fmu_common -s etc/init.d-posix/rcS $(arg px4_interactive_mode) -i $(arg ID) -w sitl_uav$(arg ID)"/>
  
  </group>
</launch>
